<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">

	<listeners>
	<!-- 截图失败截图方法 继承TestListenerAdapter-->
		<listener class-name="com.alvin.listener.TestResultListener"></listener>
		<!-- 设置全局监听-->
		<listener class-name="com.alvin.listener.RetryListener"></listener>
	</listeners>
	
　<test name="Test" preserve-order="true">  
  <parameter name="browerName" value="chrome"></parameter>
    <classes>
	  <class name="com.alvin.testcases.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
