<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">

	<listeners>
		<!-- 截图失败截图方法 继承TestListenerAdapter-->
		<listener class-name="com.alvin.listener.TestResultListener"></listener>
		<!-- 设置全局监听重试-->
		<listener class-name="com.alvin.listener.RetryListener"></listener>
		<!-- allure报表补充数据-->
		<listener class-name="com.alvin.listener.AllureReportListener"></listener>
	</listeners>
	
　<test name="Test" preserve-order="true">  
  <parameter name="browerName" value="chrome"></parameter>
    <classes>
	  <class name="com.alvin.testcases.LoginTest"/>
	  <!--
	        <class name="com.alvin.testcases.CreateProjectTest"/>
      <class name="com.alvin.testcases.IndexLinkClickTest"/>-->

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
